## Core tex auxiliary files:
*.aux
*.log
*.toc
*.pdf
*~
*-bak

## Documentos
*.pdf

# Listados generados
*.listing

# Subdirectorios
## 'auto' folder when using emacs and auctex
./auto/*
*.el
bak

./portada/*.aux
./portada/*~

./tablacontenidos/*.aux
./tablacontenidos/*~
./tablacontenidos/auto/*

./texto/*.aux
./texto/*~
./texto/auto/*

./apendices/*.aux
./apendices/*~
./apendices/auto/*

./img/*.pdf

./prog/ej0105/cmake/build/
./prog/ej0105/make/*.o
./prog/ej0105/make/ejemplo*
./prog/ej0105/meson/build/

./prog/ej06/cmake/build/
./prog/ej06/make/*.o
./prog/ej06/make/ejemplo*
./prog/ej06/meson/build/

./prog/ej07/cmake/build/
./prog/ej07/make/*.o
./prog/ej07/make/ejemplo*
./prog/ej07/meson/build/

./prog/ej07/cmake/build/
./prog/ej07/make/*.o
./prog/ej07/make/ejemplo*
./prog/ej07/meson/build/

./prog/ej08/cmake/build/
./prog/ej08/make/*.o
./prog/ej08/make/ejemplo*
./prog/ej08/meson/build/

./prog/ej09/cmake/build/
./prog/ej09/make/*.o
./prog/ej09/make/ejemplo*
./prog/ej09/meson/build/
